.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.align-left {
  text-align: left;
}

.note {
  min-height: 7em;
}

.note textarea {
  resize: none;
  border: none;
}

.note textarea:focus, .note input:focus {
  border: none;
  outline: none;
}

.resp {
  width: 100%;
}


.top-left-button, .top-left-button:hover, .top-left-button:focus, .top-left-button:active {
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
  background-color: #282c34;
  color: white;
  width: 1.5em;
  height: 1.5em;
  border: none;
  position: absolute;
  left: calc(100% - 0.75em);
  bottom: calc(100% - 0.75em);
  display: flex;
  z-index: 1;
}

.remove {
  background-image: url("./remove.svg");
}
.add {
  background-image: url("./add.svg");
}